[defaults]
roles_path = ./roles
collections_paths = ./collections
retry_files_enabled = false
host_key_checking = false
stdout_callback = yaml
nocows = true
forks = 20
timeout = 30

[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no

[privilege_escalation]
become = false
